.about-container {
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-words-container {
  font-size: 1rem;
}

.about-title {
  margin-bottom: 0px;
  text-align: center;
}

.about-words {
  opacity: 0.75;
}

p {
  color: rgb(203, 205, 209);
}

.last-line {
  display: flex;
  width: 100%;
}

.headshot {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 1;
}

.image-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}

@media only screen and (max-width: 1075px) {
  .about-words-container {
    font-size: 0.8rem;
  }

  .headshot {
    height: 100px;
    width: 100px;
  }

  .about-container {
    padding: 50px 0px;
  }
}
