:root {
  --foreground-rgb: 132, 167, 161;
  --background-start-rgb: 14, 41, 84;
  width: 100%;
}

html {
  background-color: rgb(14, 41, 84);
  color: rgb(132, 167, 161);
  width: 100%;
  height: 100vh;
  padding: 0px;
}

main,
body {
  height: 100vh;
  padding: 0px;
}

h1 {
  color: rgb(132, 167, 161);
  font-size: 4rem;
}

h2 {
  color: rgb(46, 138, 153);
  font-size: 3rem;
}

p {
  color: rgb(31, 110, 140);
}

.main-sticky-container {
  width: 40%;
  padding-top: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 200px);
}

.main-info-container {
  width: 50%;
  padding-left: 640px;
}

.app-container {
  display: flex;
  width: 1280px;
  height: 100%;
  margin: auto;
}

::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(14, 41, 84, 0);
  /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 138, 153);
  /* Color of the scrollbar handle */
  border-radius: 15px;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* Color of the scrollbar handle on hover */
  cursor: pointer;
  transition: all 0.5s;
}