.head-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.title, .subtitle {
  margin: 0px;
}

.subtitle {
  font-size: 1.8rem;
}

.me-description {
  width: 325px;
  font-size: 0.8rem;
  font-weight: normal;
}

@media only screen and (max-width: 1375px) {
  .me-description {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1075px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .head-container {
    justify-content: center;
    align-items: center;
  }

  .me-description {
    text-align: center;
  }
}
