.contact-container {
  display: flex;;
  justify-content: center;
  align-items: center;
}

.contact-me {
  justify-self: center;
  align-self: center;
}

.socials-container {
  display: flex;
  justify-content: left;
  width: 100%;
}

.social-btn {
  margin-right: 40px;
}

@media (max-width: 780px) {
  .socials-container {
    width: 100%;
  }
}
