.contact-container {
  min-height: calc(100vh - 80px);
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-me {
  justify-self: center;
  align-self: center;
}

.socials-container {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  width: 400px;
}

@media (max-width: 780px) {
  .socials-container {
    width: 100%;
  }
}
